.p-l-card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #1e90ff solid;
    border-radius: 24px;
    padding: 15px;
    background-color: #1e90ff;
    color: white;
    margin: 10px;
}

.p-inner-l-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameP{
    margin-bottom: 10px;
    height: 50px;
}

.imgP{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.priceP{
    margin-bottom: 10px;
}

.btn-add-P{
    border: 1px rgb(40, 40, 40) solid;
    background-color: rgb(40, 40, 40) ;
    border-radius: 12px;
    padding: 5px;
}
.btn-add-P:active{
    border: 1px rgb(25, 25, 24) solid;
    background-color: rgb(25, 25, 24) ;
}

@media screen and (max-width: 768px) {

}